body {  
  background-color: white;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: black;}

.container {
  width: 30%; 
  float:left;
  clear: right;
  margin:10px; 
  border-radius: 5px;
}

.card{
  background-color:white;
  border-radius:5px;
  padding: 8px;
  margin: 8px;
  margin-bottom: 10px;
}

#todo {
  background-color: red;
}

#doing {
  background-color: rgb(179, 148, 13);
}

#done {
  background-color: seagreen;
}